<nav class='account'>
    <div class='profile'>
        <div class='image'></div>
        <div class='details'>
            <div class='name'>Sean Hewitson</div>
            <div class='stats'>
                <span class='apps'>4 Applications</span>
                <span class='apps'>1024 Bugs</span>
                <span class='apps'>100 Raised</span>
                <span class='apps'>350 Assigned</span>
                <span class='apps'>300 Completed</span>
            </div>
        </div>
    </div>
    <ul class='applications'>
        <li>
            <h2>Application 1</h2>
            <h3>Members</h3>
            <ul>
                <li>
                    <div class='profile'>
                        <div class='image'></div>
                        <div class='details'>
                            <div class='name'>Member Name</div>
                            <div class='stats'>
                                <span class='apps'>50 Raised</span>
                                <span class='apps'>250 Assigned</span>
                                <span class='apps'>200 Completed</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class='stats'>
                <span class='apps'>6 Members</span>
                <span class='apps'>1800 Bugs</span>
                <span class='apps'>700 Raised</span>
                <span class='apps'>450 Raised</span>
                <span class='apps'>250 Raised</span>                
                <span class='apps'>400 Completed</span>
            </div>
        </li>
    </ul>
</nav>