<nav class='mainMenu'>
    <ul class='hor'>
        <div class='col3'>
            <li>
                <span class='icon'><i class='hamburger'>&nbsp;</i></span>
                <span class='text'>Menu</span>
            </li>
        </div>
        <div class='col3'>
            <li class='logo'>
                <span class='text'>BugTracker</span>
            </li>
        </div>
        <div class='col3'>
            <li>
                <span class='icon'><i class='filters'>&nbsp;</i></span>
                <span class='text'>Filters</span>
            </li>
        </div>
    </ul>
</nav>
<nav class='accountMenu'>
    <div class='profile'>
        <div class='profile-image'>
            <div class='imgtest'></div>
        </div>
        <div class='profile-info'>
            <ul class='hor'>
                <li># Applications</li>
                <li># Total Bugs</li>
                <li># Total Raised</li>
                <li># Total In Progress</li>
                <li># Total In Testing</li>
                <li># Total Completed</li>
                <li># Total Colleagues?</li>
            </ul>
        </div>
    </div>
    <ul>
        <li>
            <h2>Application Name</h2>
            <ul class='hor'>
                <li># Total Bugs</li>
                <li># Raised</li>
                <li># In Progress</li>
                <li># Testing</li>
                <li># Complete</li>
                <li># Members</li>
            </ul>
            <ul class='applicationMembers'>
                <li>
                    <h3>Member Name</h3>
                    <ul class='hor'>
                        <li># Total Bugs</li>
                        <li># Raised</li>
                        <li># In Progress</li>
                        <li># Testing</li>
                        <li># Complete</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<nav class='filterMenu'>
    <h2>Filters</h2>
    <div class='filter'>
        <input id='txtBugNo' type='text' />
        <label for='txtBugNo'>Bug No:</label>
    </div>
    <!--
        Bug No,
        Bug Description,
        Assigned to,
        Created By,
        Tested By,
        Completed By,
        Date Raised,
        Date Completed,
        Last Updated / Commented,
        Status,
        Page,
        Control / Element,
        Priority,
        Bug Type
    -->
</nav>