<li>
    <ul class='bugInfo'>
        <li>
            <span class='value'>#123</span>
            <span class='title'>Bug No.</span>
        </li>
        <li>
            <span class='value'>Sean Hewitson</span>
            <span class='title'>Assigned To</span>
        </li>
        <li>
            <span class='value'>Sean Hewitson</span>
            <span class='title'>Raised By</span>
        </li>
        <li>
            <span class='value'>12/12/2019</span>
            <span class='title'>Date Raised</span>
        </li>
        <li>
            <span class='value'>15/12/2019</span>
            <span class='title'>Last Updated</span>
        </li>
        <li>
            <span class='value'>Raised</span>
            <span class='title'>Status</span>
        </li>
    </ul>
    <h2>This is a short Bug Description <span class='smaller'>(In More Depth on click)</span></h2>
    <ul class='bugInfo'>
        <li>
            <span class='value'>Homepage</span>
            <span class='title'>Page</span>
        </li>
        <li>
            <span class='value'>Filter Boxes</span>
            <span class='title'>Control</span>
        </li>
        <li>
            <span class='value'>Bug</span>
            <span class='title'>Bug Type</span>
        </li>
        <li>
            <span class='value'>Medium</span>
            <span class='title'>Priority</span>
        </li>
        <li>
            <span class='value'>54</span>
            <span class='title'>Comments</span>
        </li>
    </ul>
</li>