<%- include('controls/dom.ejs');  %>
<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <div class='content'>
            <%# include('controls/TextBox.ejs', {id: "test", placeholder: "test", title: "Test Title", value: "asdasdasd"}); %>
            <%- TextBox({id: "test", placeholder: "test", title: "Test Title", value: "asdasdasd"}); %>
        </div>
    </body>
</html>