<html>
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <%- include('partials/navigation'); %>
        <div class='content'>
            <ul class='buglist'>
                <% bugs.forEach(function(bug) { %>
                    <%- include('bug', {bug: bug}) %>
                <% }) %>

            </ul>
        </div>
    </body>
</html>