<li class='bug'>
    <div class='bugNo'>#123</div>
    <div class='bugInfo'>
        <ul class='bugInfoItems'>
            <li>
                <span class='value'>Homepage</span>
                <span class='title'>Page</span>
            </li>
            <li>
                <span class='value'>Filter Boxes</span>
                <span class='title'>Control</span>
            </li>
            <li>
                <span class='value'>Bug</span>
                <span class='title'>Bug Type</span>
            </li>
            <li>
                
                <span class='value'>Medium</span>
                <span class='title'>Priority</span>
            </li>
            <li>
                <span class='value'>Sean Hewitson</span>
                <span class='title'>Assigned To</span>
            </li>
            <li>
                <span class='value'>Sean Hewitson</span>
                <span class='title'>Raised By</span>
            </li>
            <li>
                <span class='value'>12/12/2019</span>
                <span class='title'>Date Raised</span>
            </li>
            <li>
                <span class='value'>15/12/2019</span>
                <span class='title'>Last Updated</span>
            </li>
            <li>
                <span class='value'>Raised</span>
                <span class='title'>Status</span>
            </li>
        </ul>
        <div class='title'>
            <h2>Basic Bug Description</h2>
            <div class='comments'>54 Comments</div>
        </div>
    </div>
</li>